@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

.form {
    background: #f7f7f7;
    color: #393939;
    padding: 4rem 2rem;
    border: solid 1px #ddd;
    border-radius: 7px;
    margin: 4rem auto;
    width: 75%;
    box-shadow: 0px 7px 8px #ccc;
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-style: normal;
    color: #737373;
}

.h1 {
    text-align: center;
    font-variant: small-caps;
}

.input {
    width: 100%;
    box-sizing: border-box;
    background: inherit;
    margin: 6px 0;
    padding: 6px 30px;
    border: none;
    border-bottom: solid 2px #9a9a9a;
    text-align: center;
    font-size: 16px;
}

.submit {
    border: solid 1px #44f;
    padding: 2rem 4rem;
    width: 100%;
    margin-top: 60px;
    border-radius: 9px;
    background: #29f;
    color: #e1e1e1;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
}

.submit:hover {
    cursor: pointer;
    background: #123;
    border: solid 1px #09f;
}
